* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
}

header li {
  display: inline-block;
  text-transform: uppercase;
}
header .container, header nav {
  display: flex;
}

.header-top {
  background-color: #0282f9;
}
.header-top .container {
  justify-content: end;
}
.header-top li {
  padding: 5px;
  font-size: 9px;
}
.header-top li a {
  color: white;
}
.header-top li:first-child {
  padding-right: 50px;
}

.header-bottom {
  height: 80px;
}
.header-bottom .logo {
  height: 80px;
}
.header-bottom .logo img {
  height: 100%;
  padding: 5px 0;
}
.header-bottom .container {
  justify-content: space-between;
  align-items: center;
}
.header-bottom .container li {
  margin: 0 10px;
  font-size: 14px;
}
.header-bottom .container li a {
  color: black;
}